DB_URI=  انت بقا حطه هنا 
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
PORT=Your_Port_Here
    All this in your .env first use (npm i dotenv)
    after that create the file .env and put all this